<div class="breakout about">
    <%= image_tag(About.first.img_url.url) %>
</div>
<h2><%= About.first.title %></h2>
<p>
    <%= simple_format(About.first.body) %>
</p>
<% if user_signed_in? %>
    <%= link_to 'Edit', edit_about_path(About.first) %>
<% end %>
