<div class="breakout about">
    <%= image_tag(About.first.img_url.url) %>
</div>
<h2><%= About.first.title %></h2>
<p>
    <%= About.first.body %>
</p>
<%= link_to 'Edit', edit_about_path(About.first) %>
