<?xml version="1.0" encoding="UTF-8"?>
<svg viewBox="0 0 135 269" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="previous">
    <!-- Generator: Sketch 57.1 (83088) - https://sketch.com -->
    <title>Rectangle</title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" style="mix-blend-mode: difference">
        <polygon id="Rectangle" fill="#fff" transform="translate(134.718750, 134.718750) rotate(-135.000000) translate(-134.718750, -134.718750) " points="40 40 229.4375 40 229.4375 229.4375"></polygon>
    </g>
</svg>