<h1>Editing Songwriter Editorial</h1>

<%= render 'form', songwriter_editorial: @songwriter_editorial %>

<%= link_to 'Show', @songwriter_editorial %> |
<%= link_to 'Back', songwriter_editorials_path %>
