<div class="container edit-form">
    <h2>Editing Intro Text</h2>
    <%= render 'form', home: @home %>
    <div class='row'>
        <div class="col-3"></div>
        <div class="col-9">
            <%= link_to 'Cancel', root_path %>
        </div>
    </div>
</div>
