/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*/

@import "bootstrap";

/*/////////////////////////////////////
	Functional Mixins
/////////////////////////////////////*/

@mixin transition($property) {
	-webkit-transition: $property;
	-moz-transition: $property;
	-o-transition: $property;
	transition: $property;
}

@mixin translate($x, $y) {
	-ms-transform: translateX($x) translateY($y);
	-webkit-transform: translate($x, $y);
	transform: translate($x, $y);
}
	


/*/////////////////////////////////////
	Constants
/////////////////////////////////////*/

// Colors
$black: #000;
$mid: #959698;
$light: #D8D8D8;


// Typefaces
@font-face {
    font-family: 'ag-defectedbrand-bold';
    src: url('https://defected.com/static/font/avantgardedefectedbold-webfont.eot?6a32a2dbe2d2');
    src: url('https://defected.com/static/font/avantgardedefectedbold-webfont?#iefix') format('embedded-opentype'),
         url('https://defected.com/static/font/avantgardedefectedbold-webfont.woff?6a32a2dbe2d2') format('woff'),
         url('https://defected.com/static/font/avantgardedefectedbold-webfont.ttf?6a32a2dbe2d2') format('truetype'),
         url('https://defected.com/static/font/avantgardedefectedbold-webfont.svg?6a32a2dbe2d2#avant_garde_defected_brand_Rg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AvantGarde";
    src: font-url('AvantGardeDefectedRegular.woff2') format('woff2'), font-url('AvantGardeDefectedRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "AvantGarde";
    src: font-url('AvantGardeDefectedRegular.woff2') format('woff2'), font-url('AvantGardeDefectedRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal
}

$body-font: 'Helvetica Neue', Helvetica, sans-serif;
$defected-font: 'AvantGarde', $body-font;

// Font Sizing
$small: 10px;
$nav: 18px;
$nav-mob: 14px;
$body: 16px;
$sub-heading: 24px;
$mob-heading: 36px; 
$heading: 48px;


/*/////////////////////////////////////
	Normalise
/////////////////////////////////////*/

    button {
        border: none;
        padding: 0;
    }

/*/////////////////////////////////////
	Typography
/////////////////////////////////////*/

body {
    color: $black;
    font-family: $body-font;
}

a {
    color: $mid;
    &:visited { color: $mid };
    &:active { color: $black };
    &:hover { color: $black };
}

%defected-font-base {
    font-family: $defected-font;
}

%defected-font-bold {
    @extend %defected-font-base;
    font-weight: 700;
}

%defected-font-regular {
    @extend %defected-font-base;
    font-weight: 400;
    letter-spacing: 1px;
}

h1 {
    @extend %defected-font-regular;
    font-size: $mob-heading;
    line-height: $mob-heading * 0.8333;
    color: $black;
    margin-top: 20px;
    margin-bottom: 16px;
}

h2 {
    @extend %defected-font-regular;
    font-size: $sub-heading;
    line-height: $sub-heading;
    color: $mid;
    margin-top: 24px;
    margin-bottom: 16px;
}

nav {
    @extend %defected-font-regular;
    font-size: $nav;
    line-height: $nav;
    margin-bottom: 20px;
}

.blurb {
    @extend %defected-font-regular;
    font-size: $body;
    line-height: $body;
    color: #fff;
    background-color: $black;
    height: 100%;
    padding: 16px 28px 36px 16px;

    &.new:hover {
        color: $mid;
    }
}


/*/////////////////////////////////////
	Layout
/////////////////////////////////////*/

// Grid Gutters
.row {

    margin-left: -1px;
    margin-right: -1px;

    > [class*='col-'] {
        padding: 1px;
    }
}

#content {
    margin-top: 40px;
    margin-bottom: 40px;
}

.nav-link {
    padding-bottom: 0;
}

// Absolute Centering
%center-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
}

// Break Out of Container
.breakout {
    width: 100vw;
    position: relative;
    margin-left: -15px;
    margin-right: -15px;

    img {
        width: 100vw;
        max-width: 100vw;
    }

    &.about {
        height: 460px;
        overflow: hidden;

        img {
            position: absolute;
            width: auto;
            max-width: none;
            height: 460px;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}

iframe {
    height: 80px;
    background: $mid;
    width: 100vw;
    max-width: 100vw;
}

/*/////////////////////////////////////
	UI
/////////////////////////////////////*/

.logo {
    text-align: center;
    padding-bottom: 6px;
}

.navbar-brand {
    width: 100%;
    max-width: 560px;
}

.nav-link {
    padding-top: 14px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: -2px;
}

.socials {
    height: 35px;
    margin-bottom: 16px;

    img {
        padding-right: 4px;
        &:hover {
            @include translate(0, -1px);
        }
    }
}

.twitter {
    img {
        height: 14px;
    }
    margin-top: -2px;
}

.insta {
    img {
        height: 19px;
    }
    margin-top: -5px;
}

.shim {
    background-color: $black;
    position: relative;
    display: block; 

    img {
        @include transition(all 0.2s ease-in-out);

        &.hover {
            opacity: 0.3;
        }
    }

    .position {
        font-family: $defected-font;
        font-size: 18px;
        line-height: 14px;
        position: absolute;
        color: #fff;
        background-color: $black;
        top: 0;
        right: 0;
        padding: 8px;
        text-align: center;
    }
}

.artist-name {
    @extend %center-overlay;
    @extend %defected-font-regular;
    font-size: $body;
    line-height: $body;
    @include transition(all 0.4s ease-in-out);
    color: white;
    text-align: center;
    opacity: 0;
    pointer-events: none;

    &.visible {
        opacity: 1;
    }
}

/*FORMS*/

.edit-form {
	text-align: left;
	max-width: 740px !important;
	margin: 0 auto;
}

.edit-form label {
	display: inline-block;
	padding: 10px 0;
}

.edit-form input,
.edit-form textarea,
.edit-form select {
	width: 100%;
	padding: 8px;
}

.edit-form select {
  height: 34px;
  background-color: #fff;
}

.edit-form textarea {
	height: 240px;
}

select#event_date_1i,
select#event_date_2i,
select#event_date_3i {
  width: 32.5%;
}

/*EDITORIALS*/

.editorial {
    position: relative;

    .delete {
        font-family: $defected-font;
        font-size: 12px;
        line-height: 10px;
        position: absolute;
        color: #fff;
        background-color: $black;
        top: 0;
        right: 0;
        padding: 4px;
        margin: 1px;
        text-align: center;
    }
}

// Extra Small Phones
@media (max-width: 420px) {
    .blurb {
        font-size: $small;
        line-height: $small;
        padding: 10px 15px 10px 10px;
    }

    nav {
        font-size: $nav-mob;
        line-height: $nav-mob;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

    .container {
        max-width: 90%;
    }

    .breakout {
        width: 100%;
        position: relative;
        margin-left: 0;
        margin-right: 0;
    
        img {
            width: 100%;
            max-width: 100%;
        }
    }

    iframe {
        width: 100%;
        max-width: 100%;
    }

}

// Medium devices (tablets, 767px and up)
@media (min-width: 767px) {
    
    .container {
        max-width: 720px;
    }

    .row {
        .col-left {
            padding-left: 30px;
        }
    }
    
    iframe {
        height: 315px;
    }
    

    h1 {
        font-size: $heading;
        line-height: $heading * 0.8333;
        margin-top: 2px;
    }

    .blurb {
        font-size: $sub-heading;
        line-height: $sub-heading;
        padding: 24px 28px 44px 24px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

    .container {
        max-width: 960px;
    }

    .artist-name {
        font-size: $sub-heading;
        line-height: $sub-heading;
    }

    h1 {
        margin-right: 30%;

        &.artist-h1 {
            height: 78px;
        }
    }

    nav {
        margin-bottom: 40px;
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 


    /*/////////////////////////////////////
	Layout
    /////////////////////////////////////*/

    .container {
        max-width: 1140px;
    }

    #content {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    nav {
        font-size: $nav;
        line-height: $nav;
    }

    /*/////////////////////////////////////
        UI
    /////////////////////////////////////*/

    .twitter {
        img {
            height: 18px;
        }
    }

    .insta {
        padding-left: 4px;
        padding-right: 0;
        img {
            height: 24px;
        }
    }


}
